In [1]:
from datetime import date, timedelta
d1 = date(2017, 5, 15) 
for i in range(20):
    print ( "{},{},{},{},ABCD{},{}".format(i,i+3,i+5,i+7,i%7,d1 + timedelta(days=i%11)))

0,3,5,7,ABCD0,2017-05-15
1,4,6,8,ABCD1,2017-05-16
2,5,7,9,ABCD2,2017-05-17
3,6,8,10,ABCD3,2017-05-18
4,7,9,11,ABCD4,2017-05-19
5,8,10,12,ABCD5,2017-05-20
6,9,11,13,ABCD6,2017-05-21
7,10,12,14,ABCD0,2017-05-22
8,11,13,15,ABCD1,2017-05-23
9,12,14,16,ABCD2,2017-05-24
10,13,15,17,ABCD3,2017-05-25
11,14,16,18,ABCD4,2017-05-15
12,15,17,19,ABCD5,2017-05-16
13,16,18,20,ABCD6,2017-05-17
14,17,19,21,ABCD0,2017-05-18
15,18,20,22,ABCD1,2017-05-19
16,19,21,23,ABCD2,2017-05-20
17,20,22,24,ABCD3,2017-05-21
18,21,23,25,ABCD4,2017-05-22
19,22,24,26,ABCD5,2017-05-23

In [ ]:
import pandas as pd
#No Header Specified.
test2 = pd.read_csv('TEST2.csv', header=None)
test2
#Use a different separator for csv files. names = implied the name of the columns.
test3 = pd.read_csv('TEST3.csv', header=None,sep ='|', names = ['a1','a2', 'a3','a4', 'a5'],parse_dates=True)
test3
#restrict to fisrt 10 rows after skipping 3 rows.additional infor from verbose.
test4 = pd.read_csv('TEST2.csv', header=None, nrows=10,skiprows =3,verbose=True)
test4

In [80]:
#write to file using to_csv 
import sys
test4[4].to_csv('test4_output.csv')
#write to standard output
test4[4].to_csv(sys.stdout)

#No index, No headers
test4[4].to_csv(sys.stdout, index=False, header=False)

0,ABCD3
1,ABCD4
2,ABCD5
3,ABCD6
4,ABCD0
5,ABCD1
6,ABCD2
7,ABCD3
8,ABCD4
9,ABCD5
ABCD3
ABCD4
ABCD5
ABCD6
ABCD0
ABCD1
ABCD2
ABCD3
ABCD4
ABCD5

In [3]:
#Get 89th day of the year.
pd.date_range('1/1/2017',periods=365)[89]

Timestamp('2017-03-31 00:00:00', freq='D')

In [9]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 29, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
import json
result = json.loads(obj)
result

#convert the test4 Dataframe to Json object
test4.to_json()

'{"0":{"0":3,"1":4,"2":5,"3":6,"4":7,"5":8,"6":9,"7":10,"8":11,"9":12},"1":{"0":6,"1":7,"2":8,"3":9,"4":10,"5":11,"6":12,"7":13,"8":14,"9":15},"2":{"0":8,"1":9,"2":10,"3":11,"4":12,"5":13,"6":14,"7":15,"8":16,"9":17},"3":{"0":10,"1":11,"2":12,"3":13,"4":14,"5":15,"6":16,"7":17,"8":18,"9":19},"4":{"0":"ABCD3","1":"ABCD4","2":"ABCD5","3":"ABCD6","4":"ABCD0","5":"ABCD1","6":"ABCD2","7":"ABCD3","8":"ABCD4","9":"ABCD5"},"5":{"0":"2017-05-18","1":"2017-05-19","2":"2017-05-20","3":"2017-05-21","4":"2017-05-22","5":"2017-05-23","6":"2017-05-24","7":"2017-05-25","8":"2017-05-15","9":"2017-05-16"}}'

####

In [58]:
#Read from Excel file
pd.read_excel('AllIndiaHospitalList.xls')

In [25]:
#Get json object from httpresponse
import requests
httpresponse = requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')
httpresponse.json()[0]['body']

'https://github.com/pandas-dev/pandas/commit/6dcf2ed2706b00020f6a3be5530ff8dc121ba989\r\n\r\ncausing this tests to fail; \r\n\r\nseems some issues on the BQ side\r\nsee https://github.com/pydata/pandas-gbq/pull/40'

In [ ]:
#read Oracle database table contents into datFrame 
import cx_Oracle
conn = cx_Oracle.connect('hr/hr@localhost:1521/XE') #userid/password@hostname:port/Servicename
c = conn.cursor()
c.execute(u'select * from employees')  #Employees table
rows = c.fetchall()
employees = pd.DataFrame(rows, columns=[x[0] for x in c.description])
employees.set_index('EMPLOYEE_ID')

In [ ]:
set (['b','a','d', 'c', 'b'])

{'a', 'b', 'c', 'd'}