In [2]:
import pandas as pd
import numpy as np
#No Header Specified.
test2 = pd.read_csv('TEST2.csv', header=None)
#set element to NULL
test2.iloc[4,4] = np.nan
#check all the rows for NULL
test2[4].isnull()
#drop the row and  column containing NULLS
test2.dropna(axis=0)
test2.dropna(axis=1)

#Fill Nulls with NULL
test2.fillna('NULL')

for i in range(6):
    test2.iloc[i,i-1] = np.nan
test2
#Keep rows with atlead 6 NOn Null values.
#test2.dropna(thresh=6)

#fill the Nan values with previous values from the  previous row or column(axis=1).
test2.fillna(method='ffill',axis = 1)

      0   1   2   3      4           5
0     0   3   5   7  ABCD0       ABCD0
1   NaN   4   6   8  ABCD1  2017-05-16
2     2   2   7   9  ABCD2  2017-05-17
3     3   6   6  10  ABCD3  2017-05-18
4     4   7   9   9      9  2017-05-19
5     5   8  10  12     12  2017-05-20
6     6   9  11  13  ABCD6  2017-05-21
7     7  10  12  14  ABCD0  2017-05-22
8     8  11  13  15  ABCD1  2017-05-23
9     9  12  14  16  ABCD2  2017-05-24
10   10  13  15  17  ABCD3  2017-05-25
11   11  14  16  18  ABCD4  2017-05-15
12   12  15  17  19  ABCD5  2017-05-16
13   13  16  18  20  ABCD6  2017-05-17
14   14  17  19  21  ABCD0  2017-05-18
15   15  18  20  22  ABCD1  2017-05-19
16   16  19  21  23  ABCD2  2017-05-20
17   17  20  22  24  ABCD3  2017-05-21
18   18  21  23  25  ABCD4  2017-05-22
19   19  22  24  26  ABCD5  2017-05-23

In [68]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
n = int(input().strip())
arr = [int(arr_temp) for arr_temp in input().strip().split(' ')]

sum = 0
for i in arr:
    sum += i
print (sum)

In [ ]:
6
1 2 3 4 10 11

In [3]:
test2

       0     1     2     3      4           5
0    0.0   3.0   5.0   7.0  ABCD0         NaN
1    NaN   4.0   6.0   8.0  ABCD1  2017-05-16
2    2.0   NaN   7.0   9.0  ABCD2  2017-05-17
3    3.0   6.0   NaN  10.0  ABCD3  2017-05-18
4    4.0   7.0   9.0   NaN    NaN  2017-05-19
5    5.0   8.0  10.0  12.0    NaN  2017-05-20
6    6.0   9.0  11.0  13.0  ABCD6  2017-05-21
7    7.0  10.0  12.0  14.0  ABCD0  2017-05-22
8    8.0  11.0  13.0  15.0  ABCD1  2017-05-23
9    9.0  12.0  14.0  16.0  ABCD2  2017-05-24
10  10.0  13.0  15.0  17.0  ABCD3  2017-05-25
11  11.0  14.0  16.0  18.0  ABCD4  2017-05-15
12  12.0  15.0  17.0  19.0  ABCD5  2017-05-16
13  13.0  16.0  18.0  20.0  ABCD6  2017-05-17
14  14.0  17.0  19.0  21.0  ABCD0  2017-05-18
15  15.0  18.0  20.0  22.0  ABCD1  2017-05-19
16  16.0  19.0  21.0  23.0  ABCD2  2017-05-20
17  17.0  20.0  22.0  24.0  ABCD3  2017-05-21
18  18.0  21.0  23.0  25.0  ABCD4  2017-05-22
19  19.0  22.0  24.0  26.0  ABCD5  2017-05-23

In [20]:
languages =  [ 'Mandarin ', 'Spanish', 'English', 'Hindi', 'Arabic', 'Portuguese', 'Bengali', 'Russian', 'Japanese', 'Punjabi' ]

speakers = [ 955, 405, 360, 310, 295, 215, 205, 155, 125, 100 ]

In [22]:
spDatF

           Speakers
Languages
0               955
1               405
2               360
3               310
4               295
5               215
6               205
7               155
8               125
9               100

In [9]:
spDatF.index.values

array(['Mandarin ', 'Spanish', 'English', 'Hindi', 'Arabic', 'Portuguese',
       'Bengali', 'Russian', 'Japanese', 'Punjabi'], dtype=object)

In [52]:
#construct a dataframe from a dictionary. Include another column Description with columns=
mycities = pd.DataFrame({'City' : [ 'Mangalore','Bhubaneshwar', 'Kundapaura', 'Mumbai'],
                         'State' : [ 'Karnataka','Odisha','Karnataka','Maharashtra']}, columns=['City','State', 'Description'])

In [25]:
mycities

           City        State Description
0     Mangalore    Karnataka         NaN
1  Bhubaneshwar       Odisha         NaN
2    Kundapaura    Karnataka         NaN
3        Mumbai  Maharashtra         NaN

In [53]:
#use map function to map the dictionary values to column values.
mycities['Description']  = mycities['City'].map({ 'Mangalore': 'Port City;',
'Bhubaneshwar': 'Odisha Capital',
'Kundapaura': 'Beaches',
'Mumbai' :'City of Dreams'}) 

#use replace to replace data across Df or across columns.
mycities['Description'].replace(['Port City;'] ,'Port City', inplace=True)

In [62]:
mycities
#use map function to tranform  all city to uppercase
mycities['City'].map(lambda x : x.upper())

#increement index values by 1
mycities.index = mycities.index.map(lambda x : x+1)
mycities
#use rename to rename the columns and indexes.
appenda = lambda x: 'A' + str(x)
enclose = lambda x: '(' + str(x) + ')'

mycities.rename(index=appenda,columns=enclose)

#rename columns using specific element as a dictionary.
mycities.rename(index={8:'B8'})
mycities.rename(columns={'Description':'(Descr.)'})

            City        State        (Descr.)
9      Mangalore    Karnataka       Port City
10  Bhubaneshwar       Odisha  Odisha Capital
11    Kundapaura    Karnataka         Beaches
12        Mumbai  Maharashtra  City of Dreams

In [95]:
employees = pd.read_csv('C:/Users/kaushik/PycharmProjects/PRJ_2/EMPLOYEES.csv')
departments = pd.read_csv('C:/Users/kaushik/PycharmProjects/PRJ_2/DEPARTMENTS.csv')

In [96]:
#store the range of salaries as partitions
pd.cut(employees['SALARY'],[1000,2000,4000,8000,employees['SALARY'].max()])

#divide employee salary in n slots
pd.cut(employees['SALARY'],5) #n=5
#much effiecient for equal distributions
pd.qcut(np.arange(100),5) #n=5

#To get the count of elements in  each range
pd.qcut(np.arange(100),3).value_counts()

[0, 33]     34
(33, 66]    33
(66, 99]    33
dtype: int64

In [91]:
employees.columns.get_indexer([])

array([], dtype=int64)

In [93]:
True - False

1

In [94]:
True + True

2

In [147]:
#all rows for which first_name contains 'joh'
employees[employees['FIRST_NAME'].str.contains('Joh')]

#unique of firts letters of firstname
employees['FIRST_NAME'].str[0:1].unique()

myregionNum = '5\d{2}\.12\d{1}.\d{4}'

#get all the employees whose phone number matches the regexp pattern.
employees[employees['PHONE_NUMBER'].str.match(myregionNum)]

#perform Listagg equivalent in SQL. concatenate all lastnames that start with 'B'
employees[employees['LAST_NAME'].str.startswith('B')]['LAST_NAME'].str.cat(sep=',')

'Baida,Bissot,Bernstein,Banda,Bloom,Bates,Bull,Bell,Baer'