In [ ]:
import pandas as pd
employees = pd.read_csv('C:/Users/kaushik/PycharmProjects/PRJ_2/EMPLOYEES.csv')
departments = pd.read_csv('C:/Users/kaushik/PycharmProjects/PRJ_2/DEPARTMENTS.csv')
#set departement,employee_id combination as index , do not drop the index columns in the Frame (default).
employees.set_index(['DEPARTMENT_ID','EMPLOYEE_ID'],inplace = True, drop = False)

#get employees for department id 90
employees.loc[90]
#employees.stack()

#sort by department id
employees.sortlevel(0)
#sort by employee id
employees.sortlevel(1)

#calculate department level sum
employees['SALARY'].sum(level='DEPARTMENT_ID')[10]


#alternatively we can use groupby() with various column combinations.
employees.groupby(by=['DEPARTMENT_ID','HIRE_DATE'])['SALARY'].max()

#reset the index and use drop = True to avoid existing index columns
employees.reset_index(drop=True, inplace=True)
employees

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,17-06-03,AD_PRES,24000,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-09-05,AD_VP,17000,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,13-01-01,AD_VP,17000,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-01-06,IT_PROG,9000,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,21-05-07,IT_PROG,6000,NaN,103.0,60.0
5,105,David,Austin,DAUSTIN,590.423.4569,25-06-05,IT_PROG,4800,NaN,103.0,60.0
6,106,Valli,Pataballa,VPATABAL,590.423.4560,05-02-06,IT_PROG,4800,NaN,103.0,60.0
7,107,Diana,Lorentz,DLORENTZ,590.423.5567,07-02-07,IT_PROG,4200,NaN,103.0,60.0
8,108,Nancy,Greenberg,NGREENBE,515.124.4569,17-08-02,FI_MGR,12008,NaN,101.0,100.0
9,109,Daniel,Faviet,DFAVIET,515.124.4169,16-08-02,FI_ACCOUNT,9000,NaN,108.0,100.0
10,110,John,Chen,JCHEN,515.124.4269,28-09-05,FI_ACCOUNT,8200,NaN,108.0,100.0
11,111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-09-05,FI_ACCOUNT,7700,NaN,108.0,100.0
12,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-03-06,FI_ACCOUNT,7800,NaN,108.0,100.0
13,113,Luis,Popp,LPOPP,515.124.4567,07-12-07,FI_ACCOUNT,6900,NaN,108.0,100.0
14,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-12-02,PU_MAN,11000,NaN,100.0,30.0
15,115,Alexander,Khoo,AKHOO,515.127.4562,18-05-03,PU_CLERK,3100,NaN,114.0,30.0
16,116,Shelli,Baida,SBAIDA,515.127.4563,24-12-05,PU_CLERK,2900,NaN,114.0,30.0
17,117,Sigal,Tobias,STOBIAS,515.127.4564,24-07-05,PU_CLERK,2800,NaN,114.0,30.0
18,118,Guy,Himuro,GHIMURO,515.127.4565,15-11-06,PU_CLERK,2600,NaN,114.0,30.0
19,119,Karen,Colmenares,KCOLMENA,515.127.4566,10-08-07,PU_CLERK,2500,NaN,114.0,30.0
20,120,Matthew,Weiss,MWEISS,650.123.1234,18-07-04,ST_MAN,8000,NaN,100.0,50.0
21,121,Adam,Fripp,AFRIPP,650.123.2234,10-04-05,ST_MAN,8200,NaN,100.0,50.0
22,122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-05-03,ST_MAN,7900,NaN,100.0,50.0
23,123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-10-05,ST_MAN,6500,NaN,100.0,50.0
24,124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-11-07,ST_MAN,5800,NaN,100.0,50.0
25,125,Julia,Nayer,JNAYER,650.124.1214,16-07-05,ST_CLERK,3200,NaN,120.0,50.0
26,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-09-06,ST_CLERK,2700,NaN,120.0,50.0
27,127,James,Landry,JLANDRY,650.124.1334,14-01-07,ST_CLERK,2400,NaN,120.0,50.0
28,128,Steven,Markle,SMARKLE,650.124.1434,08-03-08,ST_CLERK,2200,NaN,120.0,50.0
29,129,Laura,Bissot,LBISSOT,650.124.5234,20-08-05,ST_CLERK,3300,NaN,121.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...
77,177,Jack,Livingston,JLIVINGS,011.44.1644.429264,23-04-06,SA_REP,8400,0.20,149.0,80.0
78,178,Kimberely,Grant,KGRANT,011.44.1644.429263,24-05-07,SA_REP,7000,0.15,149.0,NaN
79,179,Charles,Johnson,CJOHNSON,011.44.1644.429262,04-01-08,SA_REP,6200,0.10,149.0,80.0
80,180,Winston,Taylor,WTAYLOR,650.507.9876,24-01-06,SH_CLERK,3200,NaN,120.0,50.0
81,181,Jean,Fleaur,JFLEAUR,650.507.9877,23-02-06,SH_CLERK,3100,NaN,120.0,50.0
82,182,Martha,Sullivan,MSULLIVA,650.507.9878,21-06-07,SH_CLERK,2500,NaN,120.0,50.0
83,183,Girard,Geoni,GGEONI,650.507.9879,03-02-08,SH_CLERK,2800,NaN,120.0,50.0
84,184,Nandita,Sarchand,NSARCHAN,650.509.1876,27-01-04,SH_CLERK,4200,NaN,121.0,50.0
85,185,Alexis,Bull,ABULL,650.509.2876,20-02-05,SH_CLERK,4100,NaN,121.0,50.0
86,186,Julia,Dellinger,JDELLING,650.509.3876,24-06-06,SH_CLERK,3400,NaN,121.0,50.0
87,187,Anthony,Cabrio,ACABRIO,650.509.4876,07-02-07,SH_CLERK,3000,NaN,121.0,50.0
88,188,Kelly,Chung,KCHUNG,650.505.1876,14-06-05,SH_CLERK,3800,NaN,122.0,50.0
89,189,Jennifer,Dilly,JDILLY,650.505.2876,13-08-05,SH_CLERK,3600,NaN,122.0,50.0
90,190,Timothy,Gates,TGATES,650.505.3876,11-07-06,SH_CLERK,2900,NaN,122.0,50.0
91,191,Randall,Perkins,RPERKINS,650.505.4876,19-12-07,SH_CLERK,2500,NaN,122.0,50.0
92,192,Sarah,Bell,SBELL,650.501.1876,04-02-04,SH_CLERK,4000,NaN,123.0,50.0
93,193,Britney,Everett,BEVERETT,650.501.2876,03-03-05,SH_CLERK,3900,NaN,123.0,50.0
94,194,Samuel,McCain,SMCCAIN,650.501.3876,01-07-06,SH_CLERK,3200,NaN,123.0,50.0
95,195,Vance,Jones,VJONES,650.501.4876,17-03-07,SH_CLERK,2800,NaN,123.0,50.0
96,196,Alana,Walsh,AWALSH,650.507.9811,24-04-06,SH_CLERK,3100,NaN,124.0,50.0
97,197,Kevin,Feeney,KFEENEY,650.507.9822,23-05-06,SH_CLERK,3000,NaN,124.0,50.0
98,198,Donald,OConnell,DOCONNEL,650.507.9833,21-06-07,SH_CLERK,2600,NaN,124.0,50.0
99,199,Douglas,Grant,DGRANT,650.507.9844,13-01-08,SH_CLERK,2600,NaN,124.0,50.0
100,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-09-03,AD_ASST,4400,NaN,101.0,10.0
101,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-02-04,MK_MAN,13000,NaN,100.0,20.0
102,202,Pat,Fay,PFAY,603.123.6666,17-08-05,MK_REP,6000,NaN,201.0,20.0
103,203,Susan,Mavris,SMAVRIS,515.123.7777,07-06-02,HR_REP,6500,NaN,101.0,40.0
104,204,Hermann,Baer,HBAER,515.123.8888,07-06-02,PR_REP,10000,NaN,101.0,70.0
105,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-06-02,AC_MGR,12008,NaN,101.0,110.0
106,206,William,Gietz,WGIETZ,515.123.8181,07-06-02,AC_ACCOUNT,8300,NaN,205.0,110.0

In [74]:
#inner join employees with departments.
pd.merge(employees,departments, on='DEPARTMENT_ID')

#Left outer join departments and employees
pd.merge(employees,departments, on='DEPARTMENT_ID',how='left').set_index(['DEPARTMENT_ID','DEPARTMENT_NAME','EMPLOYEE_ID'])

#Right outer join departments and employees usin how= (default is inner)
pd.merge(employees,departments, on='DEPARTMENT_ID',how='right').set_index(['DEPARTMENT_ID','DEPARTMENT_NAME','EMPLOYEE_ID'])

                                                 FIRST_NAME    LAST_NAME  \
DEPARTMENT_ID DEPARTMENT_NAME      EMPLOYEE_ID
90.0          Executive            100.0             Steven         King
                                   101.0              Neena      Kochhar
                                   102.0                Lex      De Haan
60.0          IT                   103.0          Alexander       Hunold
                                   104.0              Bruce        Ernst
                                   105.0              David       Austin
                                   106.0              Valli    Pataballa
                                   107.0              Diana      Lorentz
100.0         Finance              108.0              Nancy    Greenberg
                                   109.0             Daniel       Faviet
                                   110.0               John         Chen
                                   111.0             Ismael      Sciarra
                                   112.0        Jose Manuel        Urman
                                   113.0               Luis         Popp
30.0          Purchasing           114.0                Den     Raphaely
                                   115.0          Alexander         Khoo
                                   116.0             Shelli        Baida
                                   117.0              Sigal       Tobias
                                   118.0                Guy       Himuro
                                   119.0              Karen   Colmenares
50.0          Shipping             120.0            Matthew        Weiss
                                   121.0               Adam        Fripp
                                   122.0              Payam     Kaufling
                                   123.0             Shanta      Vollman
                                   124.0              Kevin      Mourgos
                                   125.0              Julia        Nayer
                                   126.0              Irene  Mikkilineni
                                   127.0              James       Landry
                                   128.0             Steven       Markle
                                   129.0              Laura       Bissot
...                                                     ...          ...
80.0          Sales                172.0          Elizabeth        Bates
                                   173.0            Sundita        Kumar
                                   174.0              Ellen         Abel
                                   175.0             Alyssa       Hutton
                                   176.0           Jonathon       Taylor
                                   177.0               Jack   Livingston
                                   179.0            Charles      Johnson
10.0          Administration       200.0           Jennifer       Whalen
20.0          Marketing            201.0            Michael    Hartstein
                                   202.0                Pat          Fay
40.0          Human Resources      203.0              Susan       Mavris
70.0          Public Relations     204.0            Hermann         Baer
110.0         Accounting           205.0            Shelley      Higgins
                                   206.0            William        Gietz
120.0         Treasury             NaN                  NaN          NaN
130.0         Corporate Tax        NaN                  NaN          NaN
140.0         Control And Credit   NaN                  NaN          NaN
150.0         Shareholder Services NaN                  NaN          NaN
160.0         Benefits             NaN                  NaN          NaN
170.0         Manufacturing        NaN                  NaN          NaN
180.0         Construction         NaN                  NaN          NaN
190.0         Contracting          NaN                  NaN          NaN
200.0         Operations           NaN                  NaN          NaN
210.0         IT Support           NaN                  NaN          NaN
220.0         NOC                  NaN                  NaN          NaN
230.0         IT Helpdesk          NaN                  NaN          NaN
240.0         Government Sales     NaN                  NaN          NaN
250.0         Retail Sales         NaN                  NaN          NaN
260.0         Recruiting           NaN                  NaN          NaN
270.0         Payroll              NaN                  NaN          NaN

                                                   EMAIL        PHONE_NUMBER  \
DEPARTMENT_ID DEPARTMENT_NAME      EMPLOYEE_ID
90.0          Executive            100.0           SKING        515.123.4567
                                   101.0        NKOCHHAR        515.123.4568
                                   102.0         LDEHAAN        515.123.4569
60.0          IT                   103.0         AHUNOLD        590.423.4567
                                   104.0          BERNST        590.423.4568
                                   105.0         DAUSTIN        590.423.4569
                                   106.0        VPATABAL        590.423.4560
                                   107.0        DLORENTZ        590.423.5567
100.0         Finance              108.0        NGREENBE        515.124.4569
                                   109.0         DFAVIET        515.124.4169
                                   110.0           JCHEN        515.124.4269
                                   111.0        ISCIARRA        515.124.4369
                                   112.0         JMURMAN        515.124.4469
                                   113.0           LPOPP        515.124.4567
30.0          Purchasing           114.0        DRAPHEAL        515.127.4561
                                   115.0           AKHOO        515.127.4562
                                   116.0          SBAIDA        515.127.4563
                                   117.0         STOBIAS        515.127.4564
                                   118.0         GHIMURO        515.127.4565
                                   119.0        KCOLMENA        515.127.4566
50.0          Shipping             120.0          MWEISS        650.123.1234
                                   121.0          AFRIPP        650.123.2234
                                   122.0        PKAUFLIN        650.123.3234
                                   123.0        SVOLLMAN        650.123.4234
                                   124.0        KMOURGOS        650.123.5234
                                   125.0          JNAYER        650.124.1214
                                   126.0        IMIKKILI        650.124.1224
                                   127.0         JLANDRY        650.124.1334
                                   128.0         SMARKLE        650.124.1434
                                   129.0         LBISSOT        650.124.5234
...                                                  ...                 ...
80.0          Sales                172.0          EBATES  011.44.1343.529268
                                   173.0          SKUMAR  011.44.1343.329268
                                   174.0           EABEL  011.44.1644.429267
                                   175.0         AHUTTON  011.44.1644.429266
                                   176.0         JTAYLOR  011.44.1644.429265
                                   177.0        JLIVINGS  011.44.1644.429264
                                   179.0        CJOHNSON  011.44.1644.429262
10.0          Administration       200.0         JWHALEN        515.123.4444
20.0          Marketing            201.0        MHARTSTE        515.123.5555
                                   202.0            PFAY        603.123.6666
40.0          Human Resources      203.0         SMAVRIS        515.123.7777
70.0          Public Relations     204.0           HBAER        515.123.8888
110.0         Accounting           205.0        SHIGGINS        515.123.8080
                                   206.0          WGIETZ        515.123.8181
120.0         Treasury             NaN               NaN                 NaN
130.0         Corporate Tax        NaN               NaN                 NaN
140.0         Control And Credit   NaN               NaN                 NaN
150.0         Shareholder Services NaN               NaN                 NaN
160.0         Benefits             NaN               NaN                 NaN
170.0         Manufacturing        NaN               NaN                 NaN
180.0         Construction         NaN               NaN                 NaN
190.0         Contracting          NaN               NaN                 NaN
200.0         Operations           NaN               NaN                 NaN
210.0         IT Support           NaN               NaN                 NaN
220.0         NOC                  NaN               NaN                 NaN
230.0         IT Helpdesk          NaN               NaN                 NaN
240.0         Government Sales     NaN               NaN                 NaN
250.0         Retail Sales         NaN               NaN                 NaN
260.0         Recruiting           NaN               NaN                 NaN
270.0         Payroll              NaN               NaN                 NaN

                                               HIRE_DATE      JOB_ID   SALARY  \
DEPARTMENT_ID DEPARTMENT_NAME      EMPLOYEE_ID
90.0          Executive            100.0        17-06-03     AD_PRES  24000.0
                                   101.0        21-09-05       AD_VP  17000.0
                                   102.0        13-01-01       AD_VP  17000.0
60.0          IT                   103.0        03-01-06     IT_PROG   9000.0
                                   104.0        21-05-07     IT_PROG   6000.0
                                   105.0        25-06-05     IT_PROG   4800.0
                                   106.0        05-02-06     IT_PROG   4800.0
                                   107.0        07-02-07     IT_PROG   4200.0
100.0         Finance              108.0        17-08-02      FI_MGR  12008.0
                                   109.0        16-08-02  FI_ACCOUNT   9000.0
                                   110.0        28-09-05  FI_ACCOUNT   8200.0
                                   111.0        30-09-05  FI_ACCOUNT   7700.0
                                   112.0        07-03-06  FI_ACCOUNT   7800.0
                                   113.0        07-12-07  FI_ACCOUNT   6900.0
30.0          Purchasing           114.0        07-12-02      PU_MAN  11000.0
                                   115.0        18-05-03    PU_CLERK   3100.0
                                   116.0        24-12-05    PU_CLERK   2900.0
                                   117.0        24-07-05    PU_CLERK   2800.0
                                   118.0        15-11-06    PU_CLERK   2600.0
                                   119.0        10-08-07    PU_CLERK   2500.0
50.0          Shipping             120.0        18-07-04      ST_MAN   8000.0
                                   121.0        10-04-05      ST_MAN   8200.0
                                   122.0        01-05-03      ST_MAN   7900.0
                                   123.0        10-10-05      ST_MAN   6500.0
                                   124.0        16-11-07      ST_MAN   5800.0
                                   125.0        16-07-05    ST_CLERK   3200.0
                                   126.0        28-09-06    ST_CLERK   2700.0
                                   127.0        14-01-07    ST_CLERK   2400.0
                                   128.0        08-03-08    ST_CLERK   2200.0
                                   129.0        20-08-05    ST_CLERK   3300.0
...                                                  ...         ...      ...
80.0          Sales                172.0        24-03-07      SA_REP   7300.0
                                   173.0        21-04-08      SA_REP   6100.0
                                   174.0        11-05-04      SA_REP  11000.0
                                   175.0        19-03-05      SA_REP   8800.0
                                   176.0        24-03-06      SA_REP   8600.0
                                   177.0        23-04-06      SA_REP   8400.0
                                   179.0        04-01-08      SA_REP   6200.0
10.0          Administration       200.0        17-09-03     AD_ASST   4400.0
20.0          Marketing            201.0        17-02-04      MK_MAN  13000.0
                                   202.0        17-08-05      MK_REP   6000.0
40.0          Human Resources      203.0        07-06-02      HR_REP   6500.0
70.0          Public Relations     204.0        07-06-02      PR_REP  10000.0
110.0         Accounting           205.0        07-06-02      AC_MGR  12008.0
                                   206.0        07-06-02  AC_ACCOUNT   8300.0
120.0         Treasury             NaN               NaN         NaN      NaN
130.0         Corporate Tax        NaN               NaN         NaN      NaN
140.0         Control And Credit   NaN               NaN         NaN      NaN
150.0         Shareholder Services NaN               NaN         NaN      NaN
160.0         Benefits             NaN               NaN         NaN      NaN
170.0         Manufacturing        NaN               NaN         NaN      NaN
180.0         Construction         NaN               NaN         NaN      NaN
190.0         Contracting          NaN               NaN         NaN      NaN
200.0         Operations           NaN               NaN         NaN      NaN
210.0         IT Support           NaN               NaN         NaN      NaN
220.0         NOC                  NaN               NaN         NaN      NaN
230.0         IT Helpdesk          NaN               NaN         NaN      NaN
240.0         Government Sales     NaN               NaN         NaN      NaN
250.0         Retail Sales         NaN               NaN         NaN      NaN
260.0         Recruiting           NaN               NaN         NaN      NaN
270.0         Payroll              NaN               NaN         NaN      NaN

                                                COMMISSION_PCT  MANAGER_ID_x  \
DEPARTMENT_ID DEPARTMENT_NAME      EMPLOYEE_ID
90.0          Executive            100.0                   NaN           NaN
                                   101.0                   NaN         100.0
                                   102.0                   NaN         100.0
60.0          IT                   103.0                   NaN         102.0
                                   104.0                   NaN         103.0
                                   105.0                   NaN         103.0
                                   106.0                   NaN         103.0
                                   107.0                   NaN         103.0
100.0         Finance              108.0                   NaN         101.0
                                   109.0                   NaN         108.0
                                   110.0                   NaN         108.0
                                   111.0                   NaN         108.0
                                   112.0                   NaN         108.0
                                   113.0                   NaN         108.0
30.0          Purchasing           114.0                   NaN         100.0
                                   115.0                   NaN         114.0
                                   116.0                   NaN         114.0
                                   117.0                   NaN         114.0
                                   118.0                   NaN         114.0
                                   119.0                   NaN         114.0
50.0          Shipping             120.0                   NaN         100.0
                                   121.0                   NaN         100.0
                                   122.0                   NaN         100.0
                                   123.0                   NaN         100.0
                                   124.0                   NaN         100.0
                                   125.0                   NaN         120.0
                                   126.0                   NaN         120.0
                                   127.0                   NaN         120.0
                                   128.0                   NaN         120.0
                                   129.0                   NaN         121.0
...                                                        ...           ...
80.0          Sales                172.0                  0.15         148.0
                                   173.0                  0.10         148.0
                                   174.0                  0.30         149.0
                                   175.0                  0.25         149.0
                                   176.0                  0.20         149.0
                                   177.0                  0.20         149.0
                                   179.0                  0.10         149.0
10.0          Administration       200.0                   NaN         101.0
20.0          Marketing            201.0                   NaN         100.0
                                   202.0                   NaN         201.0
40.0          Human Resources      203.0                   NaN         101.0
70.0          Public Relations     204.0                   NaN         101.0
110.0         Accounting           205.0                   NaN         101.0
                                   206.0                   NaN         205.0
120.0         Treasury             NaN                     NaN           NaN
130.0         Corporate Tax        NaN                     NaN           NaN
140.0         Control And Credit   NaN                     NaN           NaN
150.0         Shareholder Services NaN                     NaN           NaN
160.0         Benefits             NaN                     NaN           NaN
170.0         Manufacturing        NaN                     NaN           NaN
180.0         Construction         NaN                     NaN           NaN
190.0         Contracting          NaN                     NaN           NaN
200.0         Operations           NaN                     NaN           NaN
210.0         IT Support           NaN                     NaN           NaN
220.0         NOC                  NaN                     NaN           NaN
230.0         IT Helpdesk          NaN                     NaN           NaN
240.0         Government Sales     NaN                     NaN           NaN
250.0         Retail Sales         NaN                     NaN           NaN
260.0         Recruiting           NaN                     NaN           NaN
270.0         Payroll              NaN                     NaN           NaN

                                                MANAGER_ID_y  LOCATION_ID
DEPARTMENT_ID DEPARTMENT_NAME      EMPLOYEE_ID
90.0          Executive            100.0               100.0         1700
                                   101.0               100.0         1700
                                   102.0               100.0         1700
60.0          IT                   103.0               103.0         1400
                                   104.0               103.0         1400
                                   105.0               103.0         1400
                                   106.0               103.0         1400
                                   107.0               103.0         1400
100.0         Finance              108.0               108.0         1700
                                   109.0               108.0         1700

In [75]:
employees.reset_index(inplace = True)
departments.reset_index(inplace=True)

#merge on index values.
pd.merge( employees.set_index('EMPLOYEE_ID'), departments.set_index('DEPARTMENT_ID') ,right_index=True, left_on='DEPARTMENT_ID')

employees.set_index('EMPLOYEE_ID', inplace = True, drop=False)
departments.set_index('DEPARTMENT_ID', inplace = True, drop = False)

#use join objects on instance. Since it is a self join , lsuffix, rsuffix requried for differentiating columns.
employees.join ( employees , lsuffix='_left', rsuffix='_right')

,index_left,EMPLOYEE_ID_left,FIRST_NAME_left,LAST_NAME_left,EMAIL_left,PHONE_NUMBER_left,HIRE_DATE_left,JOB_ID_left,SALARY_left,COMMISSION_PCT_left,...,FIRST_NAME_right,LAST_NAME_right,EMAIL_right,PHONE_NUMBER_right,HIRE_DATE_right,JOB_ID_right,SALARY_right,COMMISSION_PCT_right,MANAGER_ID_right,DEPARTMENT_ID_right
EMPLOYEE_ID,,,,,,,,,,,,,,,,,,,,,
100,0,100,Steven,King,SKING,515.123.4567,17-06-03,AD_PRES,24000,NaN,...,Steven,King,SKING,515.123.4567,17-06-03,AD_PRES,24000,NaN,NaN,90.0
101,1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-09-05,AD_VP,17000,NaN,...,Neena,Kochhar,NKOCHHAR,515.123.4568,21-09-05,AD_VP,17000,NaN,100.0,90.0
102,2,102,Lex,De Haan,LDEHAAN,515.123.4569,13-01-01,AD_VP,17000,NaN,...,Lex,De Haan,LDEHAAN,515.123.4569,13-01-01,AD_VP,17000,NaN,100.0,90.0
103,3,103,Alexander,Hunold,AHUNOLD,590.423.4567,03-01-06,IT_PROG,9000,NaN,...,Alexander,Hunold,AHUNOLD,590.423.4567,03-01-06,IT_PROG,9000,NaN,102.0,60.0
104,4,104,Bruce,Ernst,BERNST,590.423.4568,21-05-07,IT_PROG,6000,NaN,...,Bruce,Ernst,BERNST,590.423.4568,21-05-07,IT_PROG,6000,NaN,103.0,60.0
105,5,105,David,Austin,DAUSTIN,590.423.4569,25-06-05,IT_PROG,4800,NaN,...,David,Austin,DAUSTIN,590.423.4569,25-06-05,IT_PROG,4800,NaN,103.0,60.0
106,6,106,Valli,Pataballa,VPATABAL,590.423.4560,05-02-06,IT_PROG,4800,NaN,...,Valli,Pataballa,VPATABAL,590.423.4560,05-02-06,IT_PROG,4800,NaN,103.0,60.0
107,7,107,Diana,Lorentz,DLORENTZ,590.423.5567,07-02-07,IT_PROG,4200,NaN,...,Diana,Lorentz,DLORENTZ,590.423.5567,07-02-07,IT_PROG,4200,NaN,103.0,60.0
108,8,108,Nancy,Greenberg,NGREENBE,515.124.4569,17-08-02,FI_MGR,12008,NaN,...,Nancy,Greenberg,NGREENBE,515.124.4569,17-08-02,FI_MGR,12008,NaN,101.0,100.0
109,9,109,Daniel,Faviet,DFAVIET,515.124.4169,16-08-02,FI_ACCOUNT,9000,NaN,...,Daniel,Faviet,DFAVIET,515.124.4169,16-08-02,FI_ACCOUNT,9000,NaN,108.0,100.0
110,10,110,John,Chen,JCHEN,515.124.4269,28-09-05,FI_ACCOUNT,8200,NaN,...,John,Chen,JCHEN,515.124.4269,28-09-05,FI_ACCOUNT,8200,NaN,108.0,100.0
111,11,111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-09-05,FI_ACCOUNT,7700,NaN,...,Ismael,Sciarra,ISCIARRA,515.124.4369,30-09-05,FI_ACCOUNT,7700,NaN,108.0,100.0
112,12,112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-03-06,FI_ACCOUNT,7800,NaN,...,Jose Manuel,Urman,JMURMAN,515.124.4469,07-03-06,FI_ACCOUNT,7800,NaN,108.0,100.0
113,13,113,Luis,Popp,LPOPP,515.124.4567,07-12-07,FI_ACCOUNT,6900,NaN,...,Luis,Popp,LPOPP,515.124.4567,07-12-07,FI_ACCOUNT,6900,NaN,108.0,100.0
114,14,114,Den,Raphaely,DRAPHEAL,515.127.4561,07-12-02,PU_MAN,11000,NaN,...,Den,Raphaely,DRAPHEAL,515.127.4561,07-12-02,PU_MAN,11000,NaN,100.0,30.0
115,15,115,Alexander,Khoo,AKHOO,515.127.4562,18-05-03,PU_CLERK,3100,NaN,...,Alexander,Khoo,AKHOO,515.127.4562,18-05-03,PU_CLERK,3100,NaN,114.0,30.0
116,16,116,Shelli,Baida,SBAIDA,515.127.4563,24-12-05,PU_CLERK,2900,NaN,...,Shelli,Baida,SBAIDA,515.127.4563,24-12-05,PU_CLERK,2900,NaN,114.0,30.0
117,17,117,Sigal,Tobias,STOBIAS,515.127.4564,24-07-05,PU_CLERK,2800,NaN,...,Sigal,Tobias,STOBIAS,515.127.4564,24-07-05,PU_CLERK,2800,NaN,114.0,30.0
118,18,118,Guy,Himuro,GHIMURO,515.127.4565,15-11-06,PU_CLERK,2600,NaN,...,Guy,Himuro,GHIMURO,515.127.4565,15-11-06,PU_CLERK,2600,NaN,114.0,30.0
119,19,119,Karen,Colmenares,KCOLMENA,515.127.4566,10-08-07,PU_CLERK,2500,NaN,...,Karen,Colmenares,KCOLMENA,515.127.4566,10-08-07,PU_CLERK,2500,NaN,114.0,30.0
120,20,120,Matthew,Weiss,MWEISS,650.123.1234,18-07-04,ST_MAN,8000,NaN,...,Matthew,Weiss,MWEISS,650.123.1234,18-07-04,ST_MAN,8000,NaN,100.0,50.0
121,21,121,Adam,Fripp,AFRIPP,650.123.2234,10-04-05,ST_MAN,8200,NaN,...,Adam,Fripp,AFRIPP,650.123.2234,10-04-05,ST_MAN,8200,NaN,100.0,50.0
122,22,122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-05-03,ST_MAN,7900,NaN,...,Payam,Kaufling,PKAUFLIN,650.123.3234,01-05-03,ST_MAN,7900,NaN,100.0,50.0
123,23,123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-10-05,ST_MAN,6500,NaN,...,Shanta,Vollman,SVOLLMAN,650.123.4234,10-10-05,ST_MAN,6500,NaN,100.0,50.0
124,24,124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-11-07,ST_MAN,5800,NaN,...,Kevin,Mourgos,KMOURGOS,650.123.5234,16-11-07,ST_MAN,5800,NaN,100.0,50.0
125,25,125,Julia,Nayer,JNAYER,650.124.1214,16-07-05,ST_CLERK,3200,NaN,...,Julia,Nayer,JNAYER,650.124.1214,16-07-05,ST_CLERK,3200,NaN,120.0,50.0
126,26,126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-09-06,ST_CLERK,2700,NaN,...,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-09-06,ST_CLERK,2700,NaN,120.0,50.0
127,27,127,James,Landry,JLANDRY,650.124.1334,14-01-07,ST_CLERK,2400,NaN,...,James,Landry,JLANDRY,650.124.1334,14-01-07,ST_CLERK,2400,NaN,120.0,50.0
128,28,128,Steven,Markle,SMARKLE,650.124.1434,08-03-08,ST_CLERK,2200,NaN,...,Steven,Markle,SMARKLE,650.124.1434,08-03-08,ST_CLERK,2200,NaN,120.0,50.0
129,29,129,Laura,Bissot,LBISSOT,650.124.5234,20-08-05,ST_CLERK,3300,NaN,...,Laura,Bissot,LBISSOT,650.124.5234,20-08-05,ST_CLERK,3300,NaN,121.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,77,177,Jack,Livingston,JLIVINGS,011.44.1644.429264,23-04-06,SA_REP,8400,0.20,...,Jack,Livingston,JLIVINGS,011.44.1644.429264,23-04-06,SA_REP,8400,0.20,149.0,80.0
178,78,178,Kimberely,Grant,KGRANT,011.44.1644.429263,24-05-07,SA_REP,7000,0.15,...,Kimberely,Grant,KGRANT,011.44.1644.429263,24-05-07,SA_REP,7000,0.15,149.0,NaN
179,79,179,Charles,Johnson,CJOHNSON,011.44.1644.429262,04-01-08,SA_REP,6200,0.10,...,Charles,Johnson,CJOHNSON,011.44.1644.429262,04-01-08,SA_REP,6200,0.10,149.0,80.0
180,80,180,Winston,Taylor,WTAYLOR,650.507.9876,24-01-06,SH_CLERK,3200,NaN,...,Winston,Taylor,WTAYLOR,650.507.9876,24-01-06,SH_CLERK,3200,NaN,120.0,50.0
181,81,181,Jean,Fleaur,JFLEAUR,650.507.9877,23-02-06,SH_CLERK,3100,NaN,...,Jean,Fleaur,JFLEAUR,650.507.9877,23-02-06,SH_CLERK,3100,NaN,120.0,50.0
182,82,182,Martha,Sullivan,MSULLIVA,650.507.9878,21-06-07,SH_CLERK,2500,NaN,...,Martha,Sullivan,MSULLIVA,650.507.9878,21-06-07,SH_CLERK,2500,NaN,120.0,50.0
183,83,183,Girard,Geoni,GGEONI,650.507.9879,03-02-08,SH_CLERK,2800,NaN,...,Girard,Geoni,GGEONI,650.507.9879,03-02-08,SH_CLERK,2800,NaN,120.0,50.0
184,84,184,Nandita,Sarchand,NSARCHAN,650.509.1876,27-01-04,SH_CLERK,4200,NaN,...,Nandita,Sarchand,NSARCHAN,650.509.1876,27-01-04,SH_CLERK,4200,NaN,121.0,50.0
185,85,185,Alexis,Bull,ABULL,650.509.2876,20-02-05,SH_CLERK,4100,NaN,...,Alexis,Bull,ABULL,650.509.2876,20-02-05,SH_CLERK,4100,NaN,121.0,50.0
186,86,186,Julia,Dellinger,JDELLING,650.509.3876,24-06-06,SH_CLERK,3400,NaN,...,Julia,Dellinger,JDELLING,650.509.3876,24-06-06,SH_CLERK,3400,NaN,121.0,50.0
187,87,187,Anthony,Cabrio,ACABRIO,650.509.4876,07-02-07,SH_CLERK,3000,NaN,...,Anthony,Cabrio,ACABRIO,650.509.4876,07-02-07,SH_CLERK,3000,NaN,121.0,50.0
188,88,188,Kelly,Chung,KCHUNG,650.505.1876,14-06-05,SH_CLERK,3800,NaN,...,Kelly,Chung,KCHUNG,650.505.1876,14-06-05,SH_CLERK,3800,NaN,122.0,50.0
189,89,189,Jennifer,Dilly,JDILLY,650.505.2876,13-08-05,SH_CLERK,3600,NaN,...,Jennifer,Dilly,JDILLY,650.505.2876,13-08-05,SH_CLERK,3600,NaN,122.0,50.0
190,90,190,Timothy,Gates,TGATES,650.505.3876,11-07-06,SH_CLERK,2900,NaN,...,Timothy,Gates,TGATES,650.505.3876,11-07-06,SH_CLERK,2900,NaN,122.0,50.0
191,91,191,Randall,Perkins,RPERKINS,650.505.4876,19-12-07,SH_CLERK,2500,NaN,...,Randall,Perkins,RPERKINS,650.505.4876,19-12-07,SH_CLERK,2500,NaN,122.0,50.0
192,92,192,Sarah,Bell,SBELL,650.501.1876,04-02-04,SH_CLERK,4000,NaN,...,Sarah,Bell,SBELL,650.501.1876,04-02-04,SH_CLERK,4000,NaN,123.0,50.0
193,93,193,Britney,Everett,BEVERETT,650.501.2876,03-03-05,SH_CLERK,3900,NaN,...,Britney,Everett,BEVERETT,650.501.2876,03-03-05,SH_CLERK,3900,NaN,123.0,50.0
194,94,194,Samuel,McCain,SMCCAIN,650.501.3876,01-07-06,SH_CLERK,3200,NaN,...,Samuel,McCain,SMCCAIN,650.501.3876,01-07-06,SH_CLERK,3200,NaN,123.0,50.0
195,95,195,Vance,Jones,VJONES,650.501.4876,17-03-07,SH_CLERK,2800,NaN,...,Vance,Jones,VJONES,650.501.4876,17-03-07,SH_CLERK,2800,NaN,123.0,50.0
196,96,196,Alana,Walsh,AWALSH,650.507.9811,24-04-06,SH_CLERK,3100,NaN,...,Alana,Walsh,AWALSH,650.507.9811,24-04-06,SH_CLERK,3100,NaN,124.0,50.0
197,97,197,Kevin,Feeney,KFEENEY,650.507.9822,23-05-06,SH_CLERK,3000,NaN,...,Kevin,Feeney,KFEENEY,650.507.9822,23-05-06,SH_CLERK,3000,NaN,124.0,50.0
198,98,198,Donald,OConnell,DOCONNEL,650.507.9833,21-06-07,SH_CLERK,2600,NaN,...,Donald,OConnell,DOCONNEL,650.507.9833,21-06-07,SH_CLERK,2600,NaN,124.0,50.0
199,99,199,Douglas,Grant,DGRANT,650.507.9844,13-01-08,SH_CLERK,2600,NaN,...,Douglas,Grant,DGRANT,650.507.9844,13-01-08,SH_CLERK,2600,NaN,124.0,50.0
200,100,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-09-03,AD_ASST,4400,NaN,...,Jennifer,Whalen,JWHALEN,515.123.4444,17-09-03,AD_ASST,4400,NaN,101.0,10.0
201,101,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-02-04,MK_MAN,13000,NaN,...,Michael,Hartstein,MHARTSTE,515.123.5555,17-02-04,MK_MAN,13000,NaN,100.0,20.0
202,102,202,Pat,Fay,PFAY,603.123.6666,17-08-05,MK_REP,6000,NaN,...,Pat,Fay,PFAY,603.123.6666,17-08-05,MK_REP,6000,NaN,201.0,20.0
203,103,203,Susan,Mavris,SMAVRIS,515.123.7777,07-06-02,HR_REP,6500,NaN,...,Susan,Mavris,SMAVRIS,515.123.7777,07-06-02,HR_REP,6500,NaN,101.0,40.0
204,104,204,Hermann,Baer,HBAER,515.123.8888,07-06-02,PR_REP,10000,NaN,...,Hermann,Baer,HBAER,515.123.8888,07-06-02,PR_REP,10000,NaN,101.0,70.0
205,105,205,Shelley,Higgins,SHIGGINS,515.123.8080,07-06-02,AC_MGR,12008,NaN,...,Shelley,Higgins,SHIGGINS,515.123.8080,07-06-02,AC_MGR,12008,NaN,101.0,110.0
206,106,206,William,Gietz,WGIETZ,515.123.8181,07-06-02,AC_ACCOUNT,8300,NaN,...,William,Gietz,WGIETZ,515.123.8181,07-06-02,AC_ACCOUNT,8300,NaN,205.0,110.0